body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
}

h3{
    font-size: 1.5rem;
}

/* Utility css */
.bg_darkblue{
    background-color: #2c3e50;
}

.bg_blue{
    background-color: #3a546e;
}

.bg_green{
    background-color: #1bbc9d;
}

.text_green{
    color: #1bbc9d;
}

.rounded_10{
    border-radius: 10px;
}

.btn_circle{
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.star{
    font-size: 1.8rem;
}
.star::before, 
.star::after{
    content: "";
    width: 150px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    margin: 8px 40px;
}
.star_darkblue::before,
.star_darkblue::after{
    background-color: #2c3e50;
}
.star_white::before, 
.star_white::after{
    background-color: white;
}

/* Site Header */
.navbar-brand{
    font-size: 1.5rem;
}

.nav-link{
    font-size: 0.8rem;
}

/* Site Main */
.jumbotron img{
    width: 200px;
}

.form-control{
    color: #2c3e50;
    font-size: 1.3rem;
    padding-bottom: 2rem;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
}
.form-control::-webkit-input-placeholder {
    color: #2c3e50;
  }

.form-control::-moz-placeholder{
    color: #2c3e50;
}

/* Footer css */
#site_footer{
    font-size: 1.2rem;
}

.text_green:hover{
    color: #2c3e50;
}

.footer_copyright{
    font-size: 0.9rem;
}



/* Media Query */

@media screen and (max-width: 767px){
    h2{
        font-size: 1.8rem;
    }

    .navbar-brand{
        font-size: 1rem;
    }

    .display-4{
        font-size: 2rem;
    }

    .star::before, 
    .star::after{
        width: 15%;
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    h3{
        font-size: 1rem;
    }

    #site_footer{
        font-size: 0.9rem;
    }

    .btn_circle{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    #site_footer .btn-lg{
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
    }
    
}





